@import '../variables';

.navbar {
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5em;

    #searchBar {
        width: 20rem;
    }
    
    #loginLink{
        text-decoration: $link-decoration
    }
}

