<section class="form">
  <h1>Login</h1>
  <p class="errMsg">{{ errMsg }}</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input
        id="email"
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="email"
        required
      />
      <label for="email">Email</label>
    </div>

    <div class="form-floating mb-3">
      <input
        id="password"
        type="password"
        formControlName="password"
        class="form-control"
        placeholder="password"
        required
      />
      <label for="password">Password</label>
    </div>

    <button class="btn" type="submit" [disabled]="!loginForm.valid">
      Login
    </button>
  </form>
  <a routerLink="/register">or create new account!</a>
</section>
