<div class="item d-flex">
  <div>
    <img
      src="{{imgSrc}}"
      alt="Book cover placeholder"
    />
  </div>
  <div style="width: 100%">
    <h4
      style="font-weight: bold; display: flex; justify-content: space-between"
    >
      {{ book.volumeInfo.title }}
      <a [routerLink]="['/book', book.id]">
        <fa-icon [icon]="faEdit" style="color: black"></fa-icon>
      </a>
    </h4>
    <h5 style="font-weight: bold">{{ book.volumeInfo.subtitle }}</h5>
    <h5>{{ book.volumeInfo.authors }}</h5>
    <p>{{ book.volumeInfo.publisher }}, {{ book.volumeInfo.publishedDate }}</p>
    <br />
    <div class="truncateLongTexts">
      {{ book.volumeInfo.description || "Brak opisu" }}
    </div>
  </div>
</div>
