<div class="item" style="display: flex">
  <div>
    <img
      src="/assets/book-cover-placeholder.png"
      alt="Book cover placeholder"
    />
  </div>
  <div>
    <h4
      style="font-weight: bold; display: flex; justify-content: space-between"
    >
      {{ book.title }}
    </h4>
    <h5>{{ book.author }}</h5>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero qui totam
      vitae voluptatibus quam quas rerum exercitationem ut, minima
      necessitatibus.
    </p>
  </div>
</div>
