$app-background: rgba(169, 245, 69, 0.521);
$container-background: rgba(231, 231, 231, 0.852);

$link-decoration: none;
$button-bg: rgb(11, 129, 11);
$button-text: rgb(227, 255, 226);

$font-family: monospace;