<section>
  <header style="display: flex; justify-content: space-between;">
    <h1>Hi {{user?.name}}</h1>
    <div style="font-size: 2em; padding-right: 0.5em;">
      <a routerLink="/settings"><fa-icon [icon]="faSettings" style="color: black; margin-right: 0.5em;"/></a>
      <button (click)="signOut()"><fa-icon [icon]="faClose" style="color: black;"/></button>
    </div>
  </header>

  <section>
      <h3>Currently reading</h3>
      <app-books-list [books]=books></app-books-list>
  </section>
  <section>
      <h3>Want to read</h3>
      <app-books-list [books]=books></app-books-list>
  </section>
  <section>
      <h3>Read</h3>
      <app-books-list [books]=books></app-books-list>
  </section>

</section>
