/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
$background-color: rgba(169, 245, 69, 0.521);

body { 
    margin: 0; 
    font-family: monospace; 
    background-color: $background-color;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: bold;
}

.btn {
    font-size: 1.2em;
    width: 8em;
    background-color: rgba(29, 97, 63, 0.958);
    border-radius: 0.3em;
    border-color: rgba(28, 135, 82, 0.958);
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: rgba(44, 178, 111, 0.958);
    border-color: rgba(34, 161, 97, 0.958);
}