<section>
  <header class="d-flex justify-content-between">
    <h1>Settings</h1>
    <button
      style="font-size: 2em; padding-right: 0.5em; border: none"
      class="bg-light"
      (click)="signOut()"
    >
      <fa-icon [icon]="faClose" style="color: black" />
    </button>
  </header>

  <section class="form">
    <p class="errMsg">{{ errMsg }}</p>

    <form [formGroup]="updateUserForm">
      <div class="form-floating mb-3">
        <input
          id="name"
          type="text"
          formControlName="name"
          class="form-control"
          placeholder="name"
          required
        />
        <label for="name">Name</label>
      </div>

      <h5 style="align-self: flex-start">Change password</h5>

      <div class="form-floating mb-3">
        <input
          id="password"
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="password"
          required
        />
        <label for="password">Password</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="matchPassword"
          type="password"
          formControlName="matchPassword"
          class="form-control"
          placeholder="confirm password"
          required
        />
        <label for="matchPassword">Confirm password</label>
      </div>

      <button class="btn" type="submit" (click)="handleSubmit()">Save</button>
    </form>
  </section>
</section>
